h1 {
  font-family: 'BenchNine', sans-serif;
  font-size: 150px;
  padding-left: center;
}

p {
  font-family: 'BenchNine', sans-serif;
  font-size: 30px;
  padding-left: 20px;
}

h2 {
  font-family: 'BenchNine', sans-serif;
}
